.primary-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;

  width: 100%;
  max-width: 343px;
  height: 48px;

  background: #07c3dc;
  box-shadow:
    0px 4px 2px rgba(0, 0, 0, 0.03),
    0px 2px 2px rgba(0, 0, 0, 0.1),
    0px 1px 1px rgba(0, 0, 0, 0.17),
    0px 0px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;

  border: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
}

.primary-button:disabled {
  opacity: 0.4;
  box-shadow: none;
  background: #c4d0d8;
  color: #ffffff;
  cursor: not-allowed;
}

